doctype html
html
  head
    title= `${title ? `${title} | ` : ''}${sitetitle}`

  body
    nav
      ul
        li: a(href=`${urlPrefix}`) Home
        li: a(href=`${urlPrefix}tags`) Tags

    block content
